{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>KavaDrive</title>

    <!-- Bootstrap -->
    <link href={% static 'start/bootstrap.css' %} rel="stylesheet">
    <!--My style css-->
    <link href={% static 'start/main.css' %} rel="stylesheet">

    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  

 <div class="container-fluid">
 <div class="row">
 <div><!--Open Header-->
    <button class="color-menu">
    
        <span class="glyphicon glyphicon-menu-hamburger btn xs  "></span>
       
    </button>
    </div>
      <div class="row">
        <div class="header ">
        <img class="logo-kavadrive" src={% static 'foto/logo-kavadrive.gif' %} alt="logo-kavadrive">
        </div> <!--Close Header-->
      </div>
     <div class="main-content"><!--Open content page-->
   

       <div class="Title"><h3 class="text-danger"><img src={% static 'foto/logo-text.gif' %}  alt="logo-text">КАВАДРАЙВ-ЗАМОВЛЯЙ ОНЛАЙН!</h3><!--Open Title page-->
 

   <p>КАВАДРАЙВ- це сервіс онлайн передзамовлень напоїв та їжі в перевіренех закладах
   харчування. Якісні напої та їжа, вчасне, швидке та не нав'язлеве обслуговування,
   прогнозовані і помірковані витрати - це те, що Вам варто очікувати при здійсненні
   замовлень в закладах-учасниках КАВАДРАЙВу.</p>
          <ul>
           <p>Ми гарантуємо:
            <li>ЯКІСТЬ - кожен заклад харчування обовязково нами перевіряється перед тим, як включити
            його в мережу КАВАДРАЙВ. І надалі постійно наші інспектори перевіряють якість напоїв та їжі,
            які входять до меню КАВАДРАЙВ. Кожен замовник знає напевно, що буде смачно.</li>

            <li>ВЧАСНІСТЬ та ШВИДКІСТЬ - кожен користувач сервісу впевнений, завітавши на вказаний час 
            да кав'ярні, ресторану, фастфуду, він не чекатиме в черзі, а відразу протягом кількох хвилин 
            отримає своє замовлення, яке зможе забрати із собою чи пригоститись безпосередньо там(якщо зарезервує столик).</li>


            <li>ПРОГНОЗОВАНІСТЬ - крім того, що Ви очікувано отримаєте якісні напої та їжу, швидке обслуговування,
            Ви точно знатимете скільки коштів потратите на замовлення.</li>

            <li>ЄДИНА ЦІНА - якщо якість напоїв і їжі та рівень обслуговування в закладах-учасниках
            КАВАДРАЙВу високі і контролюються нами, то і ціни в усіх закладах теж однакові.</li>

            <li>ЗРУЧНІСТЬ - здійснити замовлення Ви зможете будь-де, в будь-який час, в будь-якому
            закладі, який  входить до мережі КАВАДРАЙВ і з будь-якого пристрою - смартфона, планшета,
             комп'ютера.</li>
        </ul>
        <h4>МІСЦЕ ЗУСТРІЧІ - КАВАДРАЙВ - ЗАМОВЛЯЙ ОНЛАЙН!  <span class="heart glyphicon glyphicon-heart"></span></h4>


       </div><!--Close title-->
      </div><!--Close main content-->
    <div class="footer-upper col-md-12"><!--Open footer upper-->

      <a href="google.html"><img src={% static 'foto/call.png' %} alt="call"></a>
      <img class="number-call" src={% static 'foto/number-call.png' %} alt="number-call">
      <img class="info-mail" src="{% static 'foto/info-mail.png' %}" alt="info-mail">

    </div><!--Close footer upper-->

    <div class="footer-lower col-md-12"><!--Open footer lower-->

    <div claas="social-icon"
    <a href="google.html"><img src={% static 'foto/google.png' %} alt="google"></a>
    <a href="pinterest.html"><img src={% static 'foto/pinterest.png' %} alt="pinterest">
    <a href="facebook.html"><img src={% static 'foto/facebook.png' %} alt="facebook"></a>
    <a href="vk.html"><img src={% static 'foto/vk.png' %} alt="vk"></a>
    <a href="twitter.html"><img src={% static 'foto/twitter.png' %} alt="twitter"></a
    </div>
    <img class="company" src={% static 'foto/company.png' %} alt="company">
    

    
     </div><!--Close footer lower-->
     </div>
  </div> <!--Close conteiner fluid-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src={% static 'start/bootstrap.js' %}></script>
  </body>
</html>