.head {
	color: brown;
}
.backdown {
	margin: 3% 4%;
}
.tips {
	color: red;
}
.button_send {
	float: right;
	margin-bottom: 30px;
	padding: 10px 35px;
	font-size: 20px;
	border-radius: 0;
	border-bottom-right-radius: 10px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}